@media (max-width: 768px) {
  .article-card {
    flex: 1 1 100%;
  }
}

/* Responsive : mobile */
@media screen and (max-width: 900px) {
  .sub-hero-container {
    flex-direction: column;
  }

  .sub-hero-image,
  .sub-hero-gap,
  .sub-hero-text {
    flex: 1 1 100%;
  }

  .sub-hero-title {
    font-size: 50px;
    text-align: center;
  }

  .sub-hero-text {
    text-align: center;
    padding: 20px;
  }
}
